.skills-page(ng-controller="SkillsController")
  h1 Your skillset

  .skill-list-section
    skill-list

  .create-skill-section
    form(class='form-inline', ng-submit='createSkill()')
      p
        input(type='text', ng-model='newSkillName', size='30', placeholder='e.g. Increased sales 15% over a 12 months')
        input.btn.btn-primary(type='submit', value='add')
