.skill-details(ng-controller='SkillsController', ng-init="find()")

  .name-section
    h4.title Skill title
    p.content {{skill.name}}&nbsp;
      a(ng-click='editField("name")') edit
    .edit(ng-if='shouldEdit("name")')
      small press enter to save
      br
      input(type='text', ng-model='skill.name', ng-enter="clearEdits()")

  .description-section
    h4.title Detailed description
    p.content {{skill.description}}&nbsp;
      a(ng-click='editField("description")') edit
    .edit(ng-if='shouldEdit("description")')
      small press enter to save
      br
      textarea(ng-model='skill.description', ng-enter="clearEdits()")

  .dates-section
    h4.title Dates
    p.content {{skill.from}} - {{skill.to}}&nbsp;
      a(ng-click='editField("dates")') edit
    .edit(ng-if='shouldEdit("dates")')
      small press enter to save
      br
      input(type='text', ng-model='skill.from', placeholder='From')
      |  -&nbsp
      input(type='text', ng-model='skill.to', placeholder='To', ng-enter="clearEdits()")

  .save-changes-section(ng-if="hasChanges()")
    button(ng-click="saveChanges()") Save changes


